.DS_Store
/.idea
dist/electron/*
dist/web/*
src/renderer/api/fileOfJsonAndHtml
errJson/
fileOfJsonAndHtml/
static/
uploads/
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
